DB_USE=true
DB_HOST=localhost
DB_USER=voltaire
DB_PASS=voltairepwd
DB_NAME=voltaire_local

USE_EMAILER=true
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=noreply@ai-sf.it
EMAIL_PASS=change_me
EMAIL_REPLYTO=esecutivo@ai-sf.it
EMAIL_REPLYTO_NAME=Esecutivo AISF
EMAIL_FROM_NAME=AISF
