{% assign title = "FantaCISF - Il mio team" %}
{% extends "Templates/base-footer" %}

{% block content %}

<div class="container" id="fantaCISFcontainer" x-data="{checkMember: [], captain: '{{logged_user.fanta_captain.id}}', picciuli: {{logged_user.fantacisf_budget}}}">


<h1 class="text-center">FantaCISF</h1>
<div class="row my-3">
  <div class="col-12 col-lg-6 mx-auto">
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="fst-italic">
          Ti consigliamo vivamente di leggere il Regolamento che ti è stato inviato via mail prima di compilare il seguente form.
        </p>
        <p>
          Ogni giocatore ha a disposizione <b>65 picciuli </b>per acquistare 5 dei membri in gara, selezionabili tra membri di Esecutivo, Presidenti dei Comitati Locali e membri del Comitato Organizzatore di CISF.
        </p>
        <p>
          È possibile iscrivere la squadra <b>entro mercoledì 12 aprile 2023 alle ore 15.00</b>.
        </p>
      </div>
    </div>
  </div>

</div>


<div class="row mt-4 mb-5">
  <div class="col col-auto mx-auto">
    <a class="btn btn-success shadow-sm" href="{{"files/FantaCISF_regolamento.pdf" | url}}"><i class="bi bi-download me-2"></i>Leggi il regolamento</a>
  </div>
</div>

{% include "FantaCISF/teamNameForm"%}

<div id="myteam" hx-get="{{"fantacisf/myteam/0" | url}}" hx-trigger="load from:body">
  {% include "FantaCISF/myteam" %}
</div>


<div id="#my-picciuli" class="position-fixed bottom-0 start-0 end-0 bg-primary py-3 px-2 shadow-lg">
  <div class="container text-white">
   <div class="row align-items-center">
    <div class="col text-end">I miei picciuli</div>
    <div class="col col-auto ms-auto fw-bold fs-3" style="color: #fcd303"><i class="bi bi-piggy-bank-fill me-1"></i> <span x-text="picciuli"></span> pc.</div>
   </div>
  </div>

  </div>
  <div class="toast-container position-fixed" style="left: 0px; right:0px; width: 100vw; bottom: 80px;">
    <div class="toast align-items-center mx-auto  text-bg-danger " id="errortoast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
  Toast      </div>
        <button type="button" class="btn-close btn-close-white  me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>


  <div class="toast-container position-fixed" style="left: 0px; right:0px; width: 100vw; bottom: 80px;">
    <div class="toast align-items-center mx-auto  text-bg-success " id="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" id="toast_body">
  Toast      </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

{% endblock %}