

<div class="container mb-5">


  <h1 class="text-center">Squadre FantaCISF</h1>
  <div class="row my-3">
    <div class="col-12 col-lg-6 mx-auto text-center">
  Sono iscritte alla lega <b>{{num_teams}} squadre</b>.
    </div>

  </div>


  {% for user in users %}
  <div class="row my-4">
    <div class="col-12 col-lg-6 mx-auto">
      <div class="card shadow-sm">
        <div class="card-header">
          <div class="row">
            <div class="col">
              {% if has_started %}
              <span class="fw-bold {% if user.position == 1 %}text-success {% elsif user.position == 2 %}text-warning{% elsif user.position == 3 %}text-info{% endif %}">{{user.position}}°</span>
              {% endif %}
            </div>
            <div class="col col-auto ms-auto">
              <i class="bi bi-hypnotize me-2"></i>{{user.points}} pt.
            </div>
        </div>
        </div>
        <div class="card-body px-5 py-4">
          <h3 class="text-primary mb-1">{{user.team_name}}</h3>
          <p>{{user.name}}</p>
          <div class="mt-4 mb-2">
            {% for member in user.team %}
            <a ><img src="{{"img/fantaCISF/" | append: member.teamMember.photo | url }}" style="width: 40px; border-radius: 20px;" data-bs-toggle="tooltip" data-bs-title="{{member.teamMember.name}}" ></a>
            {% endfor %}
          </div>
        </div>
      </div>

      </div>
    </div>

  {% endfor %}

  </div>