{% assign title = "Lega FantaCISF" %}

{% extends "Templates/admin" %}

{% block content %}
{% if logged_user.level > 2 %}
<div class="row mb-5">
  <div class="col col-auto mx-auto">
    <div class="card shadow">
      <div class="card-body px-5">
        <form hx-post="{{"admin/fantacisf/startGame" | url}}" hx-trigger="change from:find input"
              hx-target="#toast-body">
          <div class="form-check form-switch d-flex align-items-center">
            <input class="form-check-input me-3" name="has_started" {% if has_started == 1 %} checked {% endif %}type="checkbox" role="switch" id="start-game">
            <label class="form-check-label fs-5 fw-bold" for="start-game">Avvia gara</label>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<div class="row mb-5">
    <div class="col col-auto mx-auto">
        <div class="card shadow">
            <div class="card-body px-5">
                <form hx-post="{{"admin/fantacisf/showPoints" | url}}" hx-trigger="change from:find input"
                    hx-target="#toast-body">
                    <div class="form-check form-switch d-flex align-items-center">
                        <input class="form-check-input me-3" name="show_points" {% if show_points==1%} checked {% endif
                            %} type="checkbox" role="switch" id="show_points">
                        <label class="form-check-label fs-5 fw-bold" for="start-game">Mostra classifica</label>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


{% endif %}

{% include "FantaCISF/leagueTeams" %}
{% endblock %}