<h3 class="mb-3">Bonus e malus di {{member.name}}</h3>
<ul class="list-group">
{% for bonus in bonuses %}
<li class="list-group-item" x-data="{count: {{bonus.times}}}">
  <div class="row position-relative">
    <div
    <div class="ms-2 col-sm me-auto">
      {{bonus.name}}
    </div>

    <div class="col-auto">
      <a class="btn btn-outline-danger btn-sm ms-lg-5 my-2 my-lg-0" hx-get="{{"admin/fantacisf/removeBonus/" | append: member.id | append: "/" | append: bonus.id | url}}" hx-swap="none" @click="count--">Rimuovi</a>

      <a class="btn btn-outline-primary btn-sm me-lg-5" hx-get="{{"admin/fantacisf/setBonus/" | append: member.id | append: "/" | append: bonus.id | url}}" hx-swap="none" @click="count++">Assegna</a>

      <span class="badge  rounded-pill fw-bold" :class="count > 0 ? 'bg-primary' : 'bg-secondary'" x-text="count + ' x'"></span>
    </div>

  </div>


</li>

{% endfor %}
</ul>