  <table class="table table-hover  align-middle">
    <thead>
      <tr>
        <th>ID</td>
        <th>Nome</td>
        <th>Data di creazione</td>
        <th>Attivo</th>
        <th>Risultati</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for poll in polls %}
      <tr>
        <td>{{poll.id}}</td>
        <td>{{poll.title}}</td>
        <td>{{poll.timestamp}}</td>
        <td>
          <div class="form-check form-switch">
            <form id="form-active{{poll.id}}" hx-post="{{"admin/polls/activate" | url}}"
              hx-trigger="change from:find input"
              hx-target="#toast-body">
              <input
                class="form-check-input"
                type="checkbox"
                name="active"
                role="switch"
                {% if poll.active == 1%} checked {% endif %}
              >
              <input type="hidden" name="id" value="{{poll.id}}">
            </form>
          </div>
        </td>

        <td>
          <div class="form-check form-switch">
            <form id="form-showresults{{poll.id}}" hx-post="{{"admin/polls/showResults" | url}}"
              hx-trigger="change from:find input"
              hx-target="#toast-body">
              <input
                class="form-check-input"
                type="checkbox"
                name="show_results"
                role="switch"
                {% if poll.show_results == 1%} checked {% endif %}
              >
              <input type="hidden" name="id" value="{{poll.id}}">
            </form>
          </div>
        </td>

        <td>
          <a href="{{"admin/polls/results" | append: poll.id | url}}" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-graph-up-arrow"></i>
            <span class="ms-2">Risultati</span>
          </a>
        </td>

        <td>
          <a hx-boost="true" href="{{"admin/polls/edit/" | append: poll.id | url}}" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></a>
          <a class="btn btn-secondary btn-sm"><i class="bi bi-easel"></i></a>
          <a
            class="btn btn-danger btn-sm"
            hx-post="{{"admin/polls/delete" | url}}"
            hx-vals='{"id": "{{poll.id}}" }'
            hx-target="closest table"
            hx-confirm="Eliminare la votazione?"><i class="bi bi-trash3"></i></a>

        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% if is_update %}
  <div id="toast-body" hx-swap-oob="true" class="toast-body">{{message}}</div>
  {% endif %}