<!doctype html>
<html>
  <head>
    {% include "Templates/head", title: title %}
    <link rel="stylesheet" href="{{"css/admin.css" | url}} ">
    <script src="{{"js/admin.js" | url }}"></script>
  </head>
  <body >

    <div class="container-fluid">
      {% include "Templates/sidenav" %}

      {% if cardwidth %}
      {% else %}
        {% assign cardwidth = "50" %}
      {% endif %}

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4" id="main" >
          <div class="row">
            <div class="col-auto mx-auto container" style="max-width: {{cardwidth}}; min-width: {{cardwidth}}%;" id="central-card">
              <div class="card shadow-lg" >
                <div class="card-header ">
                  <div class="row align-items-center">
                    <h2 class="card-title col col-auto">{{cardtitle}}</h2>
                    {% if cardstyle == "live" %}
                    <div class="col text-end">
                      <span class="badge blink rounded-pill text-bg-danger fw-bold"><i class="bi bi-broadcast me-1"></i> LIVE</span>
                    </div>

                    {% endif %}
                  </div>

                </div>
                <div class="card-body">
                  {% block content %}
                  {% endblock %}
                </div>
              </div>
            </div>
        </main>
      </div>
    </div>

</main>


    <a href="{{"logout" | url }}">Logout</a>
    {% include "Templates/toast" %}

  </body>
</html>


