    <ul class="nav nav-pills flex-column mb-auto" >
      {% for el in nav %}
      {% assign on_page = el.link | url%}
        <li class="nav-item">
          {% assign sublink = el.link | sublink: page %}
          <a
            href="{{el.link | url }}"
            class="nav-link text-white mb-1
              {% if sublink %} active mb-2 {% endif %}
            "
            aria-current="page"
            {% if el.target %} target="{{el.target}}" {% endif %}
          >
            <span class="nav-icon"><i class="bi bi-{{el.icon}}"></i></span>
            <span   {% if page == on_page %} class="fw-bold" {% endif %}>{{el.title}}</span>
          </a>
        </li>
        {% if sublink %}
          {% for subel in el.subnav %}
          {% assign on_page = subel.link | url%}
          <li class="nav-item small subnav">
            <a href="{{on_page}}"
                  class=" nav-link py-0 text-white mb-1
                    {% if page == on_page %} fw-bold {% endif %}
                  ">{{subel.title}}</a>
          </li>
          {% endfor %}
        {% endif %}
      {% endfor %}

      <hr>

    </ul>
<ul class="nav nav-pills flex-column">
  <li class="nav-item xt-auto">
    <a href="{{"logout" | url }}" class="nav-link text-white mb-1" aria-current="page">
      <span class="nav-icon"><i class="bi bi-box-arrow-right"></i></span>
      <span class="fw-bold">Logout</span>
    </a>
  </li>
</ul>



