{% assign title = "Admin" %}
{% assign cardtitle = "Home" %}

{% extends "Templates/adminCentralCard" %}

{% block content %}
<div class="d-flex flex-column align-items-center">

  <a class="btn btn-primary btn-lg w-50 my-2" href="{{"admin/users" | url}}"><i class="bi bi-bar-chart me-2"></i> Votazioni</a>
  <a class="btn btn-info btn-lg w-50 my-2" href="{{"admin/polls" | url}}"> <i class="bi bi-people me-3"></i>Utenti</a>
  <a class="btn btn-success btn-lg w-50 my-2" href="{{"admin/projector" | url}}"><i class="bi bi-projector me-2"></i>Proiettore</a>

</div>


{% endblock %}