body{
  overflow-x: hidden;
  background-color: #e2e3e5;
}

.htmx-indicator{
  display:none;
}
.htmx-request .my-indicator{
  display:inline;
}
.htmx-request.my-indicator{
  display:inline;
}


.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}
p{
  font-family: var(--bs-body-font-family)!important;
}
[x-cloak] { display: none !important; }


.nav-icon{
  display:inline-flex;
  width:1.25em;
}

.subnav.small{
  margin-left: 1.25em;
}


.member-card, .member-card .badge{
  transition: background 0.3s ease;
}