body{
  overflow-x: hidden;
  background-color: #e2e3e5;
}

.htmx-indicator{
  display:none;
}
.htmx-request .my-indicator{
  display:inline;
}
.htmx-request.my-indicator{
  display:inline;
}


.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}