{% assign title = "Lista sondaggi (Admin)" %}
{% assign cardtitle = "Lista utenti"%}
{% assign cardwidth = "100" %}

{% extends "Templates/adminCentralCard" %}

{% block content %}


<div class="container" >
  <div>
    <div  x-data="{ checked: [], selectAll: false}">

      <div class="row mb-3" id="upper-controls" hx-preserve>

        <div class="col-auto" x-show="checked.length>0" x-cloak x-transition >
          <form id="user-select" hx-post="{{"admin/users/batchAction" | url}}" hx-swap="none">

          <button type="submit" name="action" value="activate" class="btn btn-outline-primary py-1 px-3 me-2"><i class="bi bi-check-circle-fill me-2"></i><span>Abilita</span></button>
          <button type="submit" name="action" value="deactivate" class="btn btn-outline-primary py-1 px-3 me-2"><i class="bi bi-dash-circle-fill me-2"></i><span>Disabilita</span></button>
          <button type="submit" name="action" value="sendmail" class="btn btn-outline-primary py-1 px-3 me-2"><i class="bi bi-envelope-at-fill me-2"></i><span>Invia email</span></button>
          <button type="submit" name="action" value="delete" class="btn btn-outline-danger py-1 px-3 me-2 ms-5"><i class="bi bi-trash-fill me-2"></i><span>Elimina</span></button>
        </form>

        </div>
        <div class="col-auto ms-auto">
          <a  class="ms-auto btn btn-outline-warning py-1 px-3 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-upload me-2"></i><span>Carica utenti</span> </a>
          <a href="{{"admin/users/new" | url}}" class="ms-auto btn btn-outline-success py-1 px-3"><i class="bi bi-plus-lg me-2"></i><span>Nuovo utente</span> </a>
        </div>
      </div>


    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <input  hx-preserve class="form-check-input" type="checkbox" name="{{user.id}}" value="1" form="user-select" id="master" x-model="selectAll" x-ref="master" @change="
            checked = !selectAll ? [] : Array.from(document.querySelectorAll('.user-checkbox')).map(x => x.value);"  >
          </th>
          <th>ID</th>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Ruolo</th>
          <th># Voti</th>
          <th>Abilitato </th>
          <th class="w-25 fst-italic fw-normal text-end" id="results-number">{{num_users}} risultat{% if num_users == 1%}o{% else %}i{% endif %}</th>
        </tr>
        <tr hx-preserve id="serchRow">
          <form hx-post="{{"admin/users/search" | url }}" hx-target = "tbody" hx-trigger="keyup from:input delay:500ms, change from:select">
          <td></td>
          <td></td>
          <td>
            <input class="form-control form-control-sm .search"  type="text" name="name" id="searchName" placeholder="Nessun filtro" >
          </td>
          <td>
            <input class="form-control form-control-sm" type="text" name="surname" placeholder="Nessun filtro">
          </td>

          <td>
            <select class="form-select form-select-sm" aria-label="Default select example" name="level" id="level">
              <option value=""> Tutti</option>
              <option value="1" >Utente</option>
              <option value="2" >Gestore FantaCISF</option>
              <option value="3" >Admin</option>
            </select>
          </td>
          <td></td>

          <td>
            <select class="form-select form-select-sm" aria-label="Default select example" name="active" id="level">
              <option value=""> Tutti</option>
              <option value="1" >Abilitato</option>
              <option value="2" >Disabilitato</option>
            </select>
          </td>
          <td></td>
          </form>
        </tr>
      </thead>
      <tbody hx-trigger="reload-users from:body" id="user-table-container" hx-ext="alpine-morph" hx-swap="innerHtml" hx-post="{{"admin/users/search" | url}}">
        {% include "Admin/Users/usersTable" %}
      </tbody>
</table>

</div>
  </div>
</div>



{% include "Admin/modal" %}
{% endblock %}